#!/bin/bash
#
# Managed by Ansible!
#

# Exit on error:
set -e
source include_common.sh
echo -e "${BIYellow}Clone all repos for development on this server:${NC}"

{% for application in applications_info %}
	{% for repo in application.repos %}
		stat "/home/{{ applications_devmode_user }}/workspace/{{ organisation.name }}/{{ repo.path | basename }}/.git" || \
		git clone --recurse-submodules {{ repo.url }} "/home/{{ applications_devmode_user }}/workspace/{{ organisation.name }}/{{ repo.path | basename }}"
	{% endfor %}
{% endfor %}
