#!/usr/bin/sh
#
# Managed by Ansible!!!
#
# Exit on error:
set -e

# umask is 027 system wide.
# Detta körs som root (ska skriva till certen)
# Filen som landar i
# .../letsencrypt/challenges
# ägs då även av root och ska kunna läsas av {{ nginx_user }} (alltså som other)
umask 022

echo ""
echo "Starting Letsencrypt renew {{ domaininstance_group.fullname }}" $(date -u)
python3 /opt/letsencrypt/acme-tiny/acme_tiny.py \
	--account-key /opt/letsencrypt/account.key \
	--csr {{ application.path }}/letsencrypt/{{ domaininstance_group.fullname }}-domain.csr \
	--acme-dir {{ application.path }}/letsencrypt/challenges \
	> /etc/nginx/ssl/{{ domaininstance_group.fullname }}-signed_chain.crt

# LL 20200114: Borttaget då acme_tiny nu producerar en egen chained crt istället för pem.
#	> {{ application.path }}/letsencrypt/{{ domaininstance_group.fullname }}-domain-signed.crt

#cat {{ application.path }}/letsencrypt/{{ domaininstance_group.fullname }}-domain-signed.crt \
#	/opt/letsencrypt/intermediate.pem \
#	> /etc/nginx/ssl/{{ domaininstance_group.fullname }}-chained.pem

systemctl reload nginx.service
