#
# Managed by Ansible!!!
#
#
# Ändringar i denna fil ska göras via Ansible, annars skrivs de över. / Lasse
#

{% for application in applications_info %}
{{   application.fullname | comment }}
{%   if application.any_enable_php %}
{{     application.path }}/log/php-fpm/*log {
    daily
    rotate 30
    missingok
    notifempty
    sharedscripts
    delaycompress
    postrotate
        /bin/kill -SIGUSR1 `cat /run/php-fpm/php-fpm.pid 2>/dev/null` 2>/dev/null || true
    endscript
}
{%   endif %}

{{ application.path }}/log/nginx/*log {
    create 0644 {{ nginx_user }} {{ nginx_group }}
    daily
    rotate 30
    missingok
    notifempty
    compress
    sharedscripts
    postrotate
        /bin/kill -USR1 `cat /run/nginx.pid 2>/dev/null` 2>/dev/null || true
    endscript
}
{% endfor %}
