#!/bin/bash
#
# Managed by Ansible!
#

# This must be ran as serveradmin!

# Exit on error:
set -e
{% if applications_devmode %}
  {% set devmode_suffix = '${devmode_suffix}' %}
{% else %}
  {% set devmode_suffix = '' %}
{% endif %}
source {{ serveradmin.path }}/include_common.sh

cd "{{ serveradmin.path }}/repos/serveradmin{{ devmode_suffix }}"
ansible-playbook --extra-vars "target='{{ target }}' connection_type='local' ansible_started_by_user='$1'" "$2"
