#!/bin/bash
#
# Managed by Ansible!
#
{% set agent_forwarding = item.meta.agent_forwarding | default(false) %}
# Se till att devops-repot alltid är uppdaterat:
pull_devops

{% if not agent_forwarding %}
# Exit on error:
set -e
{% endif %}
source include_common.sh



{% if item.meta.playbook_in_serveradmin_collection | default(false) %}
  {% set playbook_to_run = 'temp_playbook_' ~ item.meta.ansible_playbook %}
  echo "---" | sudo -u {{ serveradmin.process_user }} tee {{ serveradmin.path }}/workspace/serveradmin/{{ playbook_to_run }} > /dev/null
  echo "- import_playbook: collections/ansible_collections/tvartom/serveradmin/playbooks/{{ item.meta.ansible_playbook }}" | sudo -u {{ serveradmin.process_user }} tee -a {{ serveradmin.path }}/workspace/serveradmin/{{ playbook_to_run }} > /dev/null
{% else %}
  {% set playbook_to_run = item.meta.ansible_playbook %}
{% endif %}



{% if agent_forwarding %}
# https://unix.stackexchange.com/questions/131596/ssh-agent-forwarding-works-but-what-about-sudo-u-username-no-shell-permission
# https://linux.die.net/man/1/setfacl
setfacl -R -m u:{{ serveradmin.process_user }}:rwx "${SSH_AUTH_SOCK%/*}" && echo -e "${Yellow}INFO: Agentforwarding tillgänglig för användare {{ serveradmin.process_user }}.${NC}" || echo -e "${Red}VARNING: Agentforwardning måste vara påslaget för SSH till annan server.${NC}" 
{% endif %}

sudo -u {{ serveradmin.process_user }} -i {% if agent_forwarding %}SSH_AUTH_SOCK="$SSH_AUTH_SOCK" {% endif %}ansiblerunner_helper.sh $(whoami) {{ playbook_to_run }}

{% if agent_forwarding %}
setfacl -R -b "${SSH_AUTH_SOCK%/*}"
{% endif %}
