#!/bin/bash
#
# Managed by Ansible!
#

# Exit on error:
set -e
source include_common.sh

echo -e "${BIYellow}Utgångsdatum för certifikat:${NC}"
grep -Poh "(?<=ssl_certificate)\s+.*\s*(?=;)" /etc/nginx/conf.d/{{ organisation.name }}/* | grep -o "\S*" | sort | uniq | while read -r cert ; do
   #https://stackoverflow.com/questions/21297853/how-to-determine-ssl-cert-expiration-date-from-a-pem-encoded-certificate
   # 30 dagar/ 60 dagar
   openssl x509 -checkend 5184000 -noout -in "$cert" &> /dev/null && echo -en "${Green}" || echo -en "${Yellow}"
   openssl x509 -checkend 2592000 -noout -in "$cert" &> /dev/null || echo -en "${Red}"
   printf "%s: %s${NC}\n" \
      "$(date --date="$(openssl x509 -enddate -noout -in "$cert"|cut -d= -f 2)" --iso-8601)" \
      "$cert"
# "
# Följande magi lägger färgen sist, sorter och lägger tillbaka den.
# https://stackoverflow.com/questions/29399752/bash-sort-command-not-sorting-colored-output-correctly
done | \
sed 'h;s/\x1b[[0-9;]*m//g;G;s/\n/\t/' | \
sort | \
cut -f2-
