#!/bin/bash
#
# Managed by Ansible!
#

# Exit on error:
set -e
source include_common.sh
COLOR="${{ host_color | default('NC') }}"
echo ""

{% for line in organisation.splash.split('\n') %}
echo -e "{{ line|replace("`", "\`")|replace('"', '\\"')|replace("$", "\$")|replace("\${", "${") }}"
{# " #}
{% endfor %}

if id -nG | egrep -cq "(^| ){{ serveradmin.process_group }}( |$)"; then
	# User belongs to serveradmin-group

	{{ organisation.name }}_list_applications 2>/dev/null | sed 's/^/  /' || true

	cert_warning.sh 5184000 || {{ organisation.name }}_list_certs | sed 's/^/  /' || true
	echo ""


	{{ organisation.name }}_list_backups 2>/dev/null | sed 's/^/  /' && [ "${PIPESTATUS[0]}" = "0" ] && echo "" || true

	echo -e "  ${BIYellow}Urval av tillgängliga kommandon:${NC}"
	{% for file in serveradmin.files if file.when | default(true) %}
	{%   if file.show_on_splash | default(file.desc is defined) %}
	{#     #}echo -e "  ${BWhite}{{ file.target }}${NC} ${Yellow}{{ file.desc }}${NC}"
	{%   endif %}
	{% endfor %}
	echo ""

fi
