[Unit]
Description=PM2 process manager
Documentation=https://pm2.keymetrics.io/
After=network.target

[Service]
Type=forking
User={{ application.process_user }}
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Environment=PATH={{ pm2_user_path.stdout }}
Environment=PM2_HOME=/home/system/{{ application.process_user }}/.pm2
{% for app in deploy.apps %}
{% if not loop.first %}# {% endif %}PIDFile={{ application.path }}/pm2/{{ application.fullname }}-{{ app.name }}-0.pid
{% endfor %}
Restart=on-failure

ExecStart={{  pm2_bin_path.stdout | mandatory('Pm2_bin_path is missing') }} start {{  application.path }}/pm2/ecosystem.yaml
ExecReload={{ pm2_bin_path.stdout }} reload {{ application.path }}/pm2/ecosystem.yaml --update-env
ExecStop={{ pm2_bin_path.stdout }} kill

[Install]
WantedBy=multi-user.target
