---
- include_role:
    name: applications
    tasks_from: default_values
    public: yes

- name: Install xdebug for php (APT)
  become: yes
  apt:
    name:
      - "{{ php_package }}-xdebug"
    state: present
    install_recommends: yes
    update_cache: yes
    cache_valid_time: 600
  when: ansible_os_family == "Debian"
  notify: "Reload php-fpm"

- name: Install xdebug for php (DNF)
  become: yes
  dnf:
    name:
      - "{{ php_package }}-xdebug"
    state: present
  when: ansible_os_family == "RedHat"
  notify: "Reload php-fpm"

- name: "Combine settings with default-values for xdebug"
  set_fact:
    php_xdebug_settings: "{{ php_xdebug_default | combine( php_xdebug | d({}) ) }}"

# To comment out a setting, set the value to: null
# Null value: null
# Null test: is none
- name: "xdebug php-ini"
  become: yes
  lineinfile:
    path: "{{ php_xdebug_ini }}"
    regexp: '^;?{{ item.key }} ='
    line: "{{ ';' if item.value is none else '' }}{{ item.key }} = {{ item.value }}"
  loop: "{{ php_xdebug_settings | dict2items}}"
  notify: "Reload php-fpm"
