#!/usr/bin/sh
# Exit on error:
set -e

echo "Letsencrypt renew {{ domaininstance.fullname }}" $(date -u)
python /opt/letsencrypt/acme-tiny/acme_tiny.py \
	--account-key /opt/letsencrypt/account.key \
	--csr {{ webinstance.path }}/letsencrypt/domain-{{ domaininstance.fullname }}.csr \
	--acme-dir {{ webinstance.path }}/letsencrypt/challenges \
	> {{ webinstance.path }}/letsencrypt/domain-{{ domaininstance.fullname }}-signed.crt

cat {{ webinstance.path }}/letsencrypt/domain-{{ domaininstance.fullname }}-signed.crt \
	/opt/letsencrypt/intermediate.pem \
	> /etc/nginx/ssl/chained-{{ domaininstance.fullname }}.pem

systemctl reload nginx.service
