[Unit]
Description=Redis persistent key-value database for {{ webinstance.fullname }}
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/redis-server /etc/redis-{{ webinstance.fullname }}.conf --supervised systemd
ExecStop=/usr/libexec/redis-shutdown redis-{{ webinstance.fullname }}
Type=notify
User={{ webinstance.process_user }}
Group={{ webinstance.process_group }}
#RuntimeDirectory=redis
#RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
