#
# Managed by Ansible!
#
# /etc/exports: the access control list for filesystems which may be exported
#   to NFS clients.  See man exports
#
#
#
# Example for NFSv2 and NFSv3:
# /srv/homes       hostname1(rw,sync,no_subtree_check) hostname2(ro,sync,no_subtree_check)
#
# Example for NFSv4:
# /srv/nfs4        gss/krb5i(rw,sync,fsid=0,crossmnt,no_subtree_check)
# /srv/nfs4/homes  gss/krb5i(rw,sync,no_subtree_check)
#

{% for export in nfs.exports | d([]) %}
{{ ( '# '~export.comment ) if export.comment is defined else '' }}
{{ export.path }}	{{ export.host | d( ansible_facts.default_ipv4.network ~ "/24" ) }}(
{{- export.secure | d( not (export.insecure|d(true)) ) | ternary('secure', 'insecure') -}}
,{{ export.rw | d( not (export.ro|d(true)) ) | ternary('rw', 'ro') -}}
,{{ export.async | d( not (export.sync|d(false)) ) | ternary('async', 'sync') -}}
{%- if export.owner is defined -%}
,all_squash,anonuid={{ export.owner }}{{ ( ',anongid=' ~ export.group ) if export.group is defined else '' -}}
{%- endif -%}
{{- (',fsid='~export.fsid) if export.fsid is defined else '' -}}
)
{% endfor %}