<!DOCTYPE html>
<html>
  <head>
    <title>{{ organisation.name }} - Devmode</title>
  </head>
  <body>
    <h1>Server is in devmode</h1>

<details>
  <summary>Links to domaininstances</summary>
    <ul>
# {{ organisation.name }}{{ "\n" -}}
      {%- for application_instance in applications_info if not application_instance.name == 'devmode_infopage' -%}
        {#- {{ application_instance.name }} ({{ application_instance.environment }}) -#}
        {%- for (key, webinstance) in application_instance.webinstances.items() -%}
          {%- for domaininstance in webinstance.domaininstances -%}
            <li>{{ domaininstance.fullname }} <a href="//{{ domaininstance.domains[0] }}" target="_blank">{{ domaininstance.domains[0] }}></a></li>
          {%- endfor -%}
        {%- endfor -%}
      {%- endfor -%}
    </ul>
</details>

<details>
  <summary>hosts file</summary>
    <pre>
# {{ organisation.name }}{{ "\n" -}}
{{- ansible_facts.default_ipv4.address }}	{{ inventory_hostname }}{{ "\n\n" -}}
      {%- for application_instance in applications_info if not applicatiocn_instance.name == 'devmode_infopage' -%}
        {#- {{ application_instance.name }} ({{ application_instance.environment }}) -#}
        {%- for (key, webinstance) in application_instance.webinstances.items() -%}
          {%- for domaininstance in webinstance.domaininstances -%}
            # {{ domaininstance.fullname }}{{ "\n" -}}
            {%- for domain in domaininstance.domains -%}
              {{- ansible_facts.default_ipv4.address }}	{{ domain }}{{ "\n" -}}
            {%- endfor -%}
          {%- endfor -%}
        {%- endfor -%}
      {%- endfor -%}
    </pre>
</details>

<details>
  <summary>Mount</summary>
    <h3>fstab</h3>
    <pre>
//{{ ansible_facts.default_ipv4.address }}/workspace /home/{{ applications_devmode_user }}/workspace/{{ organisation.name }} cifs guest,uid={{ applications_devmode_user }},gid={{ applications_devmode_user }},iocharset=utf8,noauto,x-systemd.automount 0 0
    </pre>
</details>

  </body>
</html>
